.App{
  text-align: center;
}

.card-container{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap:1rem;
  margin: 27px;
  justify-content: center;
  
}

.cart-value{
  display: flex;
  margin: 15px;
  font-size: larger;
  
}

.card-data{
   width: 450px;
}
.size{
  height: 250px;
}
.card-data{
  background-color: rgb(132, 21, 21);
  color: white;
}

.My-btn{
  border:none;
  border-radius: 5px;
  padding: 8px;
  margin: 12px;
  font-family: 'Times New Roman', Times, serif;
}
.background{
  background-image: url('bagrnd,png.jpeg');
  background-position: right;
  height:150px;
  width:50%;
  color:rgb(19, 19, 19);
  
}
